* {
    margin:0 ;
    padding: 0;
    box-sizing: border-box;
}

#root {
    display: flex;
    justify-content: center;
}

.App {
    width: 800px;;
}

h1 {
    text-align: center;
}

.spinner {
    display: flex;
    justify-content: center;
    margin-top: 50px;
}
